Repository modyo/modyo-widgets-template-vue, pull requests merged in 2020-07, with the labels that each got.

#31 fix(actions): improove actions with @jcri recomendations
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/Readme.md
  .github/workflows/eslint.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-draft.yml
  .github/workflows/release.yml
  .github/workflows/stylelint.yml
  .github/workflows/unit-test.yml
  .huskyrc.json
  .validate-branch-namerc.json
  package.json
  postcss.config.js
  src/App.vue
  src/components/ExampleComponent.vue
  src/i18n.js
  src/repositories/PostRepository.js
  src/repositories/clients/ApiClient.js
  src/repositories/clients/ModyoAuthClient.js
  src/repositories/clients/ModyoClient.js
  src/repositories/clients/config/modyo.config.js
  src/store/actions.js
  src/store/mutations.js
  src/store/state.js
  src/vee-validate-config.js
  yarn.lock
Labels: feature, fix

#34 style(styles): add all bootstrap variables and helpers
  src/scss/_variables.scss
  src/scss/custom.scss
  yarn.lock
Labels: chore

#36 fix(dependencies): update modyo-cli dependency that fix duplicate css…
  package.json
  postcss.config.js
  yarn.lock
Labels: fix

#38 Chore/update modyo dependencies
  .env.example
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/Readme.md
  .huskyrc.json
  .validate-branch-namerc.json
  SECURITY.md
  package.json
  vue.config.js
  yarn.lock
Labels: chore

#39 Actions and dependecies update
  .env.example
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/Readme.md
  .huskyrc.json
  .validate-branch-namerc.json
  SECURITY.md
  package.json
  vue.config.js
  yarn.lock
Labels: chore, dependencies
